:root{
    --green:#009A44;
    --ink:#222222;
    --paper:#ffffff;
    --gray:#e5e7eb;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #ffffff;
    color: #000;
    line-height: 1.6;

    padding-top: 220px;
}

/* ===== FONT ORBIT ===== */
.orbit {
    font-family: 'Orbit', sans-serif;
    color: #000;
    font-weight: 400;
}

.orbit-stroke {
    font-family: 'Orbit', sans-serif;
    font-weight: 400;

    color: #009A44;               /* 내부 텍스트 색 */
    -webkit-text-stroke: 2px #000;
}

.notice {
    font-family: 'Orbit', sans-serif;
    font-size: 30px;
    color: #8AA485;
    font-weight: 400;
    opacity: 0.7;
}

a {
    color: inherit;
    text-decoration: none;
}

/* ===== HEADER ===== */
header#top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background-color: #ffffff;

    z-index: 999;
}

header#top .header-logo {
    position: absolute;
    width: 198px;
    height: 87px;

    left: 50%;
    top: 20px;
    transform: translateX(-50%);

    object-fit: contain;
}

/* ===== Navigation Bar ===== */
nav {
    position: fixed;
    top: 140px;
    left: 0;

    width: 100%;
    margin-top: 0;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;
    font-size: 2rem;

    z-index: 998;
}

nav a {
    display: inline-block;
    padding: 12px 28px;

    color: #000000;
    text-decoration: none;
    font-weight: 400;

    border-left: 1px solid #000;
    border-right: 1px solid #000;

    transition: 
        border-color 0.2s ease,
        font-weight 0.2s ease,
        color 0.2s ease;
}

nav a:hover {
    font-weight: 700;
    color: #000;
}

nav a.active {
    font-weight: 1000;
    color: var(--green);
    text-decoration: underline;
}

/* EPISODE dropdown */
.nav-episode {
    display: inline-block;
    position: relative;
}

.episode-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;

    background: #fff;
    border: 1px solid #000;
    border-top: none;

    list-style: none;
    min-width: 140px;
    z-index: 1000;
}

.nav-episode:hover .episode-dropdown {
    display: block;
}

.episode-dropdown li a {
    display: block;
    padding: 8px 16px;

    font-size: 1.1rem;

    border-left: none;
    border-right: none;
    border-top: 1px solid #000;
    border-bottom: none;
}

.episode-dropdown li a:hover {
    background: #f3f3f3;
    font-weight: 700;
}

#ep1,
#ep2,
#ep3,
#ep4 {
    scroll-margin-top: 220px;
}


/* ===== About ===== */

/* HxH Logo */
.xx-section {
    width: 100%;
    text-align: center;
    padding: 80px 0;
}

.xx-section img {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
    opacity: 1;
}

/* About */
.about-section {
    text-align: center;
    margin: 80px 0;
}

.about-section h1 {
    font-size: 5.0rem;
    font-weight: 700;
}

/* INFO CARD */
.info-card {
    margin: 80px auto;
    width: 70%;
}

.info-card-inner {
    background-color: #ffffff;
    border: 2px solid #222;
    padding: 50px 100px;

    display: flex;
    align-items: stretch;
    gap: 40px;
}

.info-poster img {
    display: block;
    width: 320px;
    height: auto;
}

.info-table-wrap {
    font-family: 'Orbit', sans-serif;
    color: #000;
    font-weight: 400;

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-table {
    width: 95%;
    border-collapse: collapse;
    font-size: 1.2rem;
}

.info-table th,
.info-table td {
    border: 2px solid var(--green);
    padding: 20px 14px;
}

.info-table th {
    width: 45%;
    background-color: var(--paper);
    text-align: center;
    font-weight: 600;
}

/* OP DEPARTURE! */
.op-section {
    text-align: center;
    margin: 120px 0 60px;
}

.op-section h1 {
    font-size: 5rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.op-section p {
    font-size: 4.0rem;
    margin-bottom: 40px;
}

.op-video-wrapper {
    text-align: center;
    margin-top: 40px;
}

.op-video-link {
    display: inline-block;
    padding: 14px 24px;
    border: 2px solid #000;
    border-radius: 8px;
    font-family: 'Orbit', sans-serif;
    font-size: 2rem;
    color: #000;
    text-decoration: none;
}

.op-video-link:hover {
    background-color: #000;
    color: #fff;
}

/* ===== STORY ===== */

/* section Box*/
.section-box {
    width: 75%;
    margin: 120px auto;
    padding: 60px 40px;

    text-align: center;
}

.section-title {
    font-size: 4.8rem;
    margin-bottom: 50px;
}

.story-text,
.hunter-text,
.nen-desc {
    font-size: 2rem;
    line-height: 1.8;
}

/* STORY/HUNTER 박스 내부 선 */
.story-text-box,
.hunter-text-box {
    width: 70%;
    margin: 0 auto;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    padding: 60px 40px;
}

/* NEN SECTION */
.nen-section {
    margin-top: 60px;
    text-align: center;
}

.nen-desc {
    margin-top: 20px;
}

/* NEN CARD GRID */
.nen-section {
    margin-top: 60px;
    text-align: center;
}

.nen-desc {
    margin-top: 20px;
}

.nencard-section {
    width: 100%;
    margin: 80px 0 120px 0;
    display: flex;
    justify-content: center;
}

.nen-grid {
    display: grid;
    grid-template-columns: repeat(3, 270px);
    grid-auto-rows: 350px;
    column-gap: 60px;
    row-gap: 60px;
    justify-content: center;
}

.nen-card {
    width: 270px;
    height: 350px;
    perspective: 1000px;
    cursor: pointer;
}

.nen-card-inner {
    position: relative;
    width: 100%;
    height: 100%;

    background: #C4DDEE;
    border: 15px solid #F0F0F0;
    border-radius: 20px;

    transform-style: preserve-3d;
    transition:
        transform 0.6s ease,
        box-shadow 0.3s ease,
        background 0.3s ease;
}

.nen-card:hover .nen-card-inner {
    transform: translateY(-10px) scale(1.04) rotateY(180deg);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.nen-card-front,
.nen-card-back {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 20px; /* 텍스트 여백 */
}

/* 뒷면 */
.nen-card-back {
    background: #C4DDEE;
    transform: rotateY(180deg);
}

/* 텍스트 스타일 */
.nen-title {
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.nen-sub {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.nen-card-desc {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
}
   
/* ===== EPISODE ====== */

.episode-main {
    width: 90%;
    margin: 0 auto 160px;
}

/* EPISODE title */
.episode-title-section {
    text-align: center;
    margin: 80px 0 60px;
}

.episode-title {
    font-size: 5rem;
    letter-spacing: 4px;
}

/* episode section */
.episode-section .section-box {
    width: 85%;
    margin: 80px auto;
    padding: 60px 50px;
    background: rgba(255,255,255,0.7);
    text-align: left;
}

/* arc header */
.arc-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 20px;

    margin-bottom: 40px;
    padding-left: 40px;
}

/* arc title */
.arc-title {
    font-size: 3.6rem;
    letter-spacing: 2px;
}

/* ARC COVERS (Snap Scroll) */

.arc-covers {
    width: 75vw;                 /* 한 번에 3~3.5개만 보이게 */
    margin: 20px auto 0 auto;

    display: flex;
    gap: 2vw;

    overflow-x: auto;
    overflow-y: hidden;

    padding-bottom: 20px;
    scroll-behavior: smooth;

    /* 스크롤 스냅 */
    scroll-snap-type: x mandatory;
}

.arc-covers img {
    flex: 0 0 auto;
    width: 22vw;      /* 기본 이미지 크기 */
    width: auto;

    border-radius: 6px;
    max-height: 420px;

    scroll-snap-align: center;   /* 한 장씩 중앙 정렬 */

    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

/* hover 시 확대 효과 */
.arc-covers img:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

#scrollTopBtn:hover {
    background: #000;
    color: #fff;
}

/* ===== EPISODE IMAGE MODAL ===== */
#imgModal {
    position: fixed;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;

    background: rgba(0,0,0,0.75);
    z-index: 99999;
}

#imgModal.open {
    display: flex;
}

.modal-content {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 80vw;
    max-height: 80vh;

    gap: 20px;
}

#modalImg {
    width: 80%;
    height: auto;
    border-radius: 10px;
}

.modal-close {
    position: absolute;
    top: -40px;
    right: 0;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
}

.modal-arrow {
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

/* ===== TMI ===== */

.tmi-page {
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tmi-hero {
    width: 100%;
    text-align: center;
    padding: 80px 0 120px;
}

.tmi-title {
    font-size: 4.0rem;
    font-weight: 400rem;
    letter-spacing: 0.15em;
    margin-bottom: 12px;
}

.notice {
    margin-bottom: 30px;
    font-size: 2.0rem;
    letter-spacing: 0.15em;
    color: #5f7c4a;
    opacity: 0.7;
}

.tmi-clown {
    width: 800px;
    max-width: 500vw;
    cursor: pointer;
    display: inline-block;
}

/* TMI MODAL */
.tmi-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.tmi-modal.open {
    display: flex;
}

.tmi-modal-inner {
    position: relative;
    width: 80%;
    max-width: 800px;
}

.tmi-modal-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* 팝업 안 텍스트 */
.tmi-text {
    position: absolute;
    top: 25%;
    right: 13%;
    left: 59%;
    font-size: 1.3rem;
    line-height: 1.6;
    color: #000;

    white-space: pre-line;
}

/* ========= TMI MODAL BUTTONS ========= */

.tmi-buttons {
    text-align: center;
    margin-top: 20px;
}

.tmi-btn {
    margin: 0 10px;
    padding: 10px 26px;
    border-radius: 999px;
    border: 2px solid #fff;
    background: #fff;
    color: #000;
    font-size: 0.95rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.25s;
}

.tmi-btn:hover {
    background: #000;
    color: #fff;
    border-color: #fff;
    transform: translateY(-2px);
}



/* ===== FOOTER ===== */
.site-footer {
    background: #000;
    color: #fff;
    padding: 80px 0 40px;
    margin-top: 160px;
}

.footer-inner {
    width: 100%;
    max-width: none;
    margin: 0;
    padding-left: 80px;
}

.footer-contact {
    text-align: left !important;
    padding-right: 1100px;
}

.footer-contact h2 {
    font-size: 2.3rem;
    margin-bottom: 10px;
}

.footer-desc {
    font-size: 1.05rem;
    line-height: 1.7;
    opacity: 0.9;
    margin-bottom: 30px;
}

/* ===== Top Button ===== */
#scrollTopBtn {
    position: fixed;
    bottom: 50px;
    right: 50px;

    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: 2px solid #000;

    background: #fff;
    color: #000;
    font-size: 1.9rem;
    cursor: pointer;
    z-index: 9999;

    display: none;
    transition: 0.3s;
}

/* ===== CONTACT FORM ===== */
.site-footer,
.site-footer * {
    color: #fff !important;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 0.95rem;
}

.form-row label {
    font-weight: 600;
    color: #fff;
}

/* 공통 입력 스타일 */
.contact-form input,
.contact-form select,
.contact-form textarea {
    padding: 10px 14px;
    border-radius: 6px;
    border: 1px solid #444;
    background: #111;
    color: #fff;
    font-size: 0.95rem;
    font-family: inherit;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #888;
}

/* focus 효과 */
.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: var(--green);
    box-shadow: 0 0 0 2px rgba(0,154,68,0.4);
}

/* 버튼 */
.contact-submit {
    align-self: flex-start;
    margin-top: 5px;
    padding: 10px 26px;
    border-radius: 999px;
    border: 2px solid #fff;

    background: #fff;
    color: #000 !important;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.25s;
}

.contact-submit:hover {
    background: #000;
    color: #fff !important;
    border-color: #fff;
    transform: translateY(-2px);
}

/* copyright */
.footer-copy {
    margin: 50px 0 40px 0;
    font-size: 1.5rem;
    text-align: center !important;
    opacity: 0.6;
}


